{{response.files.append(URL('static',"css/visitor/index.css"))}}
{{extend 'layout.html'}}
<form action="" method="get">
    Je cherche un restaurant le
    <input class="datetime" type="text" name="date" value="{{=session.date.strftime("%Y-%m-%d %H:%M:%S")}}" autocomplete="off">
    pour
    <input type="number" name="quantity" min="1" step="1" value="{{=session.quantity}}">
    personne(s).
    <input type="submit" value="Touver">
</form>

<table id="restaurants">
{{for row in restaurants:}}
    {{restaurant = row.restaurant}}
    <tr>
        <td>{{=restaurant.get("name","Nom indisponnible")}}</td>
        <td>{{=restaurant.get("address","Adresse indisponnible")}}</td>
        <td><a href="reserve/{{=restaurant.id}}">Réserver</a></td>
    </tr>
{{pass}}
</table>
